!
! Configure BGP on EBGP peer
!
router bgp 65100
 !
 neighbor 10.1.0.1 ttl-security hops 1
 !
 address-family ipv4 unicast
  neighbor 10.1.0.1 activate
  neighbor 10.1.0.1 default-originate
 exit-address-family
!
do write
