!
! Increase local preference for customer routes
!
route-map customer permit 10
 set local-preference 200
!
! Configure BGP on EBGP peer
!
router bgp 65101
 !
 address-family ipv4 unicast
  neighbor 10.1.0.5 route-map customer in
 exit-address-family
!
do write
